:root {
  --ito-black: #000000;
  --ito-orange: #e69f00;
  --ito-sky-blue: #56b4e9;
  --ito-bluish-green: #009e73;
  --ito-yellow: #f0e442;
  --ito-blue: #0072b2;
  --ito-vermillion: #d55e00;
  --ito-reddish-purple: #cc79a7;
  --neutral-white: #ffffff;
}
